pipeline/pl_dynamic_view.json
{
    "name": "pl_dynamic_view",
    "properties": {
        "activities": [
            {
                "name": "Get Metadata of Folder",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_dynamic_view_files",
                        "type": "DatasetReference"
                    },
                    "fieldList": [
                        "childItems"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "Iterate over all files",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Get Metadata of Folder",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get Metadata of Folder').output.childItems",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Get Metadata of Files",
                            "type": "GetMetadata",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "ds_files_csv",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "filename": {
                                            "value": "@item().name",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "fieldList": [
                                    "itemName"
                                ],
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            }
                        },
                        {
                            "name": "If Condition",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "Get Metadata of Files",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@greater(substring(item().name, add(lastIndexOf(item().name, '_'), 1), 10), variables('maxtime'))",
                                    "type": "Expression"
                                },
                                "ifTrueActivities": [
                                    {
                                        "name": "Set filename variable",
                                        "type": "SetVariable",
                                        "dependsOn": [
                                            {
                                                "activity": "Set maxtime variable",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "variableName": "filename",
                                            "value": {
                                                "value": "@activity('Get Metadata of Files').output.itemName",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    {
                                        "name": "Set maxtime variable",
                                        "type": "SetVariable",
                                        "dependsOn": [],
                                        "policy": {
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "variableName": "maxtime",
                                            "value": {
                                                "value": "@substring(activity('Get Metadata of Files').output.itemName, add(lastIndexOf(activity('Get Metadata of Files').output.itemName, '_'), 1), 10)",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            },
            {
                "name": "Dynamic view script",
                "type": "Script",
                "dependsOn": [
                    {
                        "activity": "Iterate over all files",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "linkedServiceName": {
                    "referenceName": "ls_synapse_rnd_learning_serverless_sql_pool",
                    "type": "LinkedServiceReference"
                },
                "typeProperties": {
                    "scripts": [
                        {
                            "parameters": [
                                {
                                    "name": "viewName",
                                    "type": "String",
                                    "value": {
                                        "value": "@substring(variables('filename'), 0, indexOf(variables('filename'), '.'))",
                                        "type": "Expression"
                                    },
                                    "direction": "Input"
                                },
                                {
                                    "name": "fileName",
                                    "type": "String",
                                    "value": {
                                        "value": "@concat('dynamic_view_files/', variables('filename'))",
                                        "type": "Expression"
                                    },
                                    "direction": "Input"
                                }
                            ],
                            "type": "NonQuery",
                            "text": "DECLARE @sql NVARCHAR(MAX);\n\nSET @sql = N'CREATE VIEW ' + QUOTENAME(@viewName) + N' AS \nSELECT * FROM OPENROWSET(\n    BULK ' + QUOTENAME(@filename, '''') + N',\n    DATA_SOURCE = ''raw'',\n    FORMAT = ''CSV'', \n    FIELDTERMINATOR ='','', \n    ROWTERMINATOR = ''\\n'',\n    PARSER_VERSION = ''2.0''\n) AS [r]';\n\nEXEC sp_executesql @sql;\n\n"
                        }
                    ],
                    "scriptBlockExecutionTimeout": "02:00:00"
                }
            }
        ],
        "variables": {
            "maxtime": {
                "type": "String",
                "defaultValue": "2024-01-29"
            },
            "filename": {
                "type": "String"
            }
        },
        "annotations": [],
        "lastPublishTime": "2024-02-07T11:02:35Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}
